*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#headertop{
    background-color: rgb(238, 230, 230);
    display : flex;
flex-direction : row;
justify-content : space-between;
align-items : center;
}
.container{
    width: 1300px;
margin-left: auto;
margin-right: auto;

}
#headertop .container{
    display : flex;
flex-direction : row;
justify-content : space-between;
align-items : center;
}
#flag{
    width: 16px;
    margin-right: 8px;
}
#down{
    width: 16px;
}
#languageselection{
    display : flex;
flex-direction : row;
align-items : center;

}



#logo{
    width: 48px;
}
.navicon{
    width: 24px;
}
#headercenter{
    display : flex;
    flex-direction : row;
    align-items : center;
    padding-top: 8px;
    padding-bottom: 8px;
}
#headercenter .container{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    
}
.headercentersearch{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid gray;
    width: 600px;
    padding: 8px;
    
}
.headercentersearch input{
    border: none;
    width: 100%;
}